body{
      font-family: 'Mukta', sans-serif;
      margin: 0px;
}
h1{
  font-size: 50px;
}
h3{
  font-size: 40px;
}
section {
  display: flex;
}
.half-width{
  width: 50%;
  padding-left: 10%;
}
.half-width img{
  width: 100%;
}

.orange{
  color: orange;
}
.color-2023{
  color: aquamarine ;
}
p{
  font-size: 20px;
}
#space {
  line-height: 100px;
}
.button{
  text-decoration: none;
  background-image: linear-gradient(#09203F, #537895);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 10px;
}
#my-mission{
  text-align: center;
}

.column{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.right-side-text{
  text-align: right;
}
.dream-big{
    background-image: url(images/shape-6);
    background-position: right;
}
.my-2023 {
  color: crimson;
}
.mission{
  text-align: center;
}
.oranged-2023{
  color: orangered;
}
.corona{
  text-align: center;
}
footer p{
  text-align: center;
}
.my-mission-2023{
  text-align: center;
}









.kerpa{
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
  border-radius: 10px;
}
#stay-focused{
border-left: 7px;
border-image: linearo-gradient (#09203F,#537895);
border-image-slice: 1;
}